@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* body{
    height: 10000px;
} */
.container{
    display: grid;
}
.header{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.header.sticky{
    background-color: orange;
    transition: all 0.5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 18px;
}
.header.sticky .list-menu a{
    color: white;
}
.header.sticky .list-menu a:hover{
    color: black;
}
.logo{
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 600;
    margin-left: 50px;
}
.logo a{
    text-decoration: none;
    color: rgb(44, 44, 44);
}
.header .list-menu{
    gap: 40px;
}
.list-menu ul{
    display: grid;
    list-style: none;
    grid-auto-flow: column;
}
.list-menu a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    transition: color 0.5s ease;
}
.list-menu a:hover{
    color: orange;
}
.bars{
    display: none;
}

/* home styling */
#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'kiri kanan' 
    'kiri kanan';
    gap: 10px;
    height: 100vh;
    /* background-color: red; */
}
.kiri{
    grid-area: kiri;
    margin-top: 30%;
    margin-left: 50px;
}
.emoji{
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
}
.kanan{
    grid-area: kanan;
    margin-top: 30%;
    margin-right: 50px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
.kiri .name{
    font-size: 2.2em;
}
.kiri .profesi .typing{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: orange;
}
.kiri p{
    margin-bottom: 10px;
    font-size: 1em;
}
.kiri a{
    padding: 10px;
    border: 1px solid orange;
    border-radius: 8px;
    background: orange;
    margin-top: 10px;
    transition: all 0.5s ease;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.kiri a:hover{
    background: none;
    color: orange;
}
.kanan{
    display: grid;
    justify-content: end;
    position: relative;
    top: -20px;
}
.kanan img{
    height: 350px;
    width: 350px;
}


/* about styling */
#about, #projek{
    background-color: #ddd;
    margin-bottom: 50px;
}
.judul-utama{
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
    z-index: 2;
    position: relative;
}
.judul-utama::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    height: 20px;
    width: 120px;
    background: orange;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 5px;
}

#about .card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 0 50px;
    margin-bottom: 50px;
}
#about .card .items.tinggi{
    height: 300px;
}
#about .card .items{
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: auto;
    transition: all 2s ease;
    position: relative;
}

#about .card .items:hover .judul{
    font-size: 1.7em;
    color: orange;
}

#about .card .judul{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}
#about .card p{
    font-size: 15px;
    color: rgb(134, 133, 133);
    margin-bottom: 20px;
}
#about .card .dua .hidden{
    display: none;
    
}
/* #about .card .dua:hover{
    display: inline;
    height: 200px;
} */
#about .card .items i{
    position: absolute;
    top: 50%;
    left: 90%;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}
#about .card .items:hover i{
    color: orange;
}

/* skils */
#skils .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;
}
.content .kiri-skils{
    display: grid;
    margin-left: 60px;
}
.content .kiri-skils .judul{
    font-size: 1.5em;
    margin-bottom: 5px;
}
.content .kiri-skils p{
    margin-bottom: 30px;
}
.content img{
    height: 100px;
    width: 100px;
}
.content .kiri-skils .img{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    gap: 100px;
    /* justify-self: center; */
    /* background-color: red; */
}

.content .card-skils{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-right: 50px;
}
.card-skils .card{
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* background: rgb(243, 243, 243); */
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}
.card-skils .card .text{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-skils .card span{
    font-size: 2.5em;
    color: orange;
    transition: all 0.5s ease;
}
.card-skils .card:hover span{
    font-size: 3.5em;
}
.card-skils .card p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.skills-section{
padding-top: 20px;
}

.skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
}
.skills-box:hover > .skills-title::after,
.skills-box:hover > .skills-title::before{
    width: 30px;
}
.skills-box:hover .skills-img{
transform: translateX(-20px);
}

.skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}

.skills-icons{
    width:50px;
    z-index:2;
}

.skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.5s;
}

.skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}
.skills-title h3{
    color: #333;
    margin-top: 0.5rem;
}
/* projek */
.projek .atas{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.projek .atas .judul .text{
    font-size: 1.5em;
}
.projek .atas .judul p{
    color: rgba(0, 0, 0, 0.5);
}
.projek .bawah{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projek .bawah .img-projek{
    margin: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.projek .bawah .img-projek img{
    width: 100%;
    height: 100%;
}

.projek .bawah .img-projek .title-projek{
    position: absolute;
    top: -150px;
    left: 5px;
    color: #000;
    transition: all 0.5s ease;
    text-align: center;
}
.projek .bawah .img-projek:hover .title-projek{
    top: 30px;
}
.projek .bawah .img-projek .title-projek .jdl{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.projek .bawah .img-projek .title-projek p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.projek .bawah .img-projek .title-projek a{
    padding: 5px;
    background: orange;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.5s ease;
    border: 1px solid orange;
    text-transform: uppercase;
}
.projek .bawah .img-projek .title-projek a:hover{
    background: none;
    color: orange;
    
}
.projek .bawah .img-projek:hover img{
    opacity: 0.2;
}
.projek .atas .btn button{
    background: orange;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.5s ease;
    cursor: pointer;
}
.projek .atas .btn button:hover{
    background: none;
    border: 1px solid orange;
    color: orange;
}

/* contact */
.contact .content-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 50px;
}
.contact .content-contact .kiri-contact h2{
    font-size: 1.5em;
    margin: 10px 0;
}
.contact .content-contact .kiri-contact p{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.contact .content-contact .kiri-contact .cloud{
    margin-bottom: 30px;
}
.contact .content-contact .kiri-contact p{
    color: rgba(0, 0, 0, 0.5);
}
.contact .content-contact .kanan-contact{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}
.contact .content-contact .kanan-contact form{
    display: grid;
}
.contact .content-contact .kanan-contact form h2{
    text-align: center;
    margin-bottom: 20px;
}
.contact .content-contact .kanan-contact form .name input, .email input{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 20px;
    font-size: 1em;
}
.contact .content-contact .kanan-contact form .name input:focus, .email input:focus{
    border: 2px solid orange;
}
.contact .content-contact .kanan-contact form .textarea textarea{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    resize: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 20px;
    font-size: 1em;
}
.contact .content-contact .kanan-contact form .textarea textarea:focus{
    border: 2px solid orange;
}
.contact .content-contact .kanan-contact form .btn button{
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid orange;
    background: orange;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: all 0.5s ease;
}
.contact .content-contact .kanan-contact form .btn button:hover{
    background: none;
    border: 1px solid orange;
    color: orange;
}

/* footer */
#footer{
    height: 200px;
    background: black;
    overflow: hidden;
}
#footer .wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
}
#footer .wrapper .icon a{
    font-size: 2.3em;
    color: #fff;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#footer .wrapper .icon p{
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    position: relative;
    transition: all 0.5s ease;
    top: -100px;
    /* z-index: 999; */
}
#footer .wrapper .icon p::before{
    content: "";
    position: absolute;
    /* right: 100px; */
    top: 30px;
    left: 32%;
    height: 15px;
    width: 15px;
    background: white;
    transform: rotate(45deg);
}
#footer .text-footer .copyright{
    color: white;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
    height: 40%;
    letter-spacing: 5px;
    
}
#footer .wrapper .icon:hover p{
    color: #000;
    display: block;
    top: 0;
}
#footer .wrapper .fb a:hover{
    color: #3b5998;
}
#footer .wrapper .ig a:hover{
    color: #E1306C;
}
#footer .wrapper .wa a:hover{
    color: #4FCE5D;
}
#footer .wrapper .github a:hover{
    color: rgb(85, 82, 82);
}
@media screen and (max-width: 768px){
    .header.sticky{
        padding: 10px;
    }
    .header .list-menu ul{
        display: inline-block;
        position: absolute;
        right: 0;
        text-align: center;
        width: 100%;
        top: -1000px;
        left: 0;
        background-color: white;
        transition: all 1s ease;
        z-index: 80;
        font-size: 1.5em;
    }
    .logo{
        margin-left: 20px;
    }
    .header.sticky .list-menu a{
        color: orange;
    }
    .header .list-menu.active ul{
        top: 0;
    }
    .header .list-menu ul li{
        padding: 50px;
    }
    .header .bars{
        display: block;
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 90%;
        font-size: 1.5em;
        z-index: 999;
        cursor: pointer;
    }
    .header .bars i.active:before{
        content: "\f00d";
    }
    #home{
        grid-template-areas: 
        'kanan kanan' 
        'kiri kiri';
    }
    .kiri{
        margin: 20px;
        margin-top: -10%;
        text-align: center;
    }
    .kiri .name, .profesi{
        font-size: 2em;
    }
    .kiri .emoji{
        display: none;
    }
    .kanan{
        margin-top: 15%;
        margin-right: 0;
        justify-content: center;
    }
    .kanan img{
        width: 300px;
        height: 300px;
    }
    #about .items{
        margin: 10px;
    }
    #about .card{
        margin: 50px 15px;
    }
    #skils .content{
        grid-template-columns: 1fr;
    }
    .content .kiri-skils{
        margin: 15px;
    }
    .kanan-skils .card-skils{
        display: grid;
        margin: 15px;
    }
    .content .kiri-skils .img{
        gap: 100px;
        justify-self: center;
    }
    .projek .bawah img{
        margin: 15px;
    }
    
    .contact .content-contact{
        grid-template-columns: 1fr;
    }
    .contact .content-contact .kiri-contact{
        margin-bottom: 0;
    }
    .contact .content-contact .kanan-contact{
        margin-top: -80px;
    }
    .contact .content-contact .kiri-contact .cloud{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 558px){
    /* .header .bars{
        left: 90%;
    } */
    .kiri{
        margin-top: -100px;
    }
    .kanan img{
        margin-top: 30px;
    }
    .kiri .name{
        font-size: 1.5em;
    }
    #about .card .items span i{
        left: 90%;
        padding: 5px;
    }
    .content .kiri-skils .img{
        gap: 50px;
        justify-self: center;
    }
    .content .kiri-skils .img img{
        width: 100px;
        height: 100px;
    }
    .projek .atas{
        margin: 15px;
    }
    .projek .bawah{
        flex-direction: column;
        justify-content: center;
    }
    .projek .bawah .img-projek{
        margin: 15px;
    }
    .projek .bawah .img-projek img{
        margin: 0;
        height: 300px;
    }
    .projek .bawah .img-projek:hover .title-projek{
        top: 100px;
    }
    .projek .atas .judul .text{
        font-size: 1em;
    }
    .projek .atas .judul p{
        font-size: 0.7em;
    }
    .projek .atas .btn{
        border-color: red;
    }
    .projek .atas .btn button{
        background: orange;
        border: none;
        padding: 3px 10px;
        color: #fff;
        border-radius: 5px;
        font-size: 0.7em;
    }
    .content img{
        height: 50px;
        width: 50px;
    }
    .contact .content-contact{
        margin: 15px;
    }
    #footer .wrapper .icon a{
        font-size: 2em;
    }
}